<a href="https://colab.research.google.com/github/imashish0007/First_Assignment/blob/main/Second_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Ques 1. Discuss string slicing and provide examples?

String slicing is a powerful technique in Python that allows you to extract specific portions of a string. It's achieved using the slicing operator [:].

Basic Syntax - string[start:end:step]

In [ ]:
#Example
Name = "Ashish Prakash"
First_name = Name[0:6]
First_name

'Ashish'

In [ ]:
Ques 2. Explain the key features of lists in Python?

Lists in Python are versatile data structures that allow you to store and organize collections of items. They offer a wide range of features and operations that make them indispensable for various programming tasks. Here are some of the key features:

1. Ordered and Mutable:

Ordered: Elements in a list are stored in a specific sequence.
Mutable: You can modify, add, or remove elements after the list is created.
2. Heterogeneous:

Lists can store elements of different data types within a single list.
3. Dynamic Sizing:

Lists can grow or shrink as needed during program execution.
4. Indexing and Slicing:

Indexing: Access individual elements using their index, starting from 0.
Slicing: Extract specific portions of a list using the slicing operator [:].
5. Common Operations:

Appending Elements: list.append(element)
Inserting Elements: list.insert(index, element)
Removing Elements:
list.remove(element): Removes the first occurrence of the element.
list.pop(index): Removes the element at the specified index and returns it.
Concatenating Lists: list1 + list2
Repeating Elements: list * n
Reversing a List: list.reverse()
Sorting a List: list.sort()

In [ ]:
Ques 3. Describe how to access, modify, and delete elements in a list with examples?

In [ ]:
#Examples
My_list = ["Ashish","Aman","Shreyas","Rohit"]
#Access
My_list[0]

'Ashish'

In [ ]:
#Modify
My_list[0] = "Ashish Prakash"
My_list

['Ashish Prakash', 'Aman', 'Shreyas', 'Rohit']

In [ ]:
#Delete
del My_list[2]
My_list

['Ashish Prakash', 'Aman', 'Rohit']

In [ ]:
Ques 4. Compare and contrast tuples and lists with examples

Tuples and lists are both fundamental data structures in Python used to store collections of items. However, they differ in terms of their mutability, syntax, and common use cases.

Mutability:

Lists: Mutable, meaning you can change, add, or remove elements after creation.
Tuples: Immutable, meaning they cannot be changed once created.
Syntax:

Lists: Enclosed in square brackets [].
Tuples: Enclosed in parentheses ().
Common Use Cases:

Lists:
Storing and manipulating dynamic data.
Implementing stacks, queues, and other data structures.
Representing sequences of elements.
Tuples:
Representing fixed data that shouldn't change.
Assigning multiple values to variables in a single line.
Using as keys in dictionaries.

In [ ]:
#Examples
#lists
Grocery_list = [1, 2, 3, "apple", "banana"]
Grocery_list

[1, 2, 3, 'apple', 'banana']

In [ ]:
Grocery_list.append(4)  # Add an element
Grocery_list.remove("apple")  # Remove an element
Grocery_list

[1, 2, 3, 'banana', 4]

In [ ]:
#Tuples
my_tuple = (1, 2, 3, "apple", "banana")
my_tuple

(1, 2, 3, 'apple', 'banana')

In [ ]:
my_tuple.append(4)  # This will raise an error, as tuples are immutable

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
Ques 5 . Describe the key features of sets and provide examples of their use?

Sets are a fundamental data structure in Python which offer efficient and powerful features for managing unique elements.Some of the key features of sts and their examples are given below :-
(a). Sets are unordered collection of unique elements.

(b). No duplicate or repeated elements are allowed in sets.

(c). There is support for mathematical operations such as union, intersection, difference.

(d). They are mutable.

(e). Sets provide efficient and powerful features for managing unique elements.

In [1]:
#Examples
S1 ={"Hiking", "Trekking", "Camera"}
S2 = {"Camera", "Coding", "Biking"}

In [2]:
#Union
S1|S2

{'Biking', 'Camera', 'Coding', 'Hiking', 'Trekking'}

In [3]:
#Intersection
S1&S2

{'Camera'}

In [4]:
#Difference
S1-S2

{'Hiking', 'Trekking'}

In [5]:
#Symmetric Difference
S1^S2

{'Biking', 'Coding', 'Hiking', 'Trekking'}

In [ ]:
Ques 2. Discuss the use cases of tuples and sets in Python programming

Tuples are immutable and ordered collection of values.

Use cases of tuples are :-
(a). it stores data that should not change.

(b). used for passing multiple to functions.

(c). used to represent rows in a database or items in a list.

(d). tuples are used as keys in dictionaries.

Sets are unordered collection of unique values.

Use cases of sets are :-

(a). remove duplicates from lists.

(b). to check if an element exists.

(c). to perform set operations like union,intersection, difference.

(d). improves query performance.

Examples :-

In [7]:
#Using Tuples as Dictionary keys
data = {(1,2):"value 1",(3,4):"value 2"}
print(data[(3,4)])

value 2

In [8]:
#Using Sets for removing duplicates
names = ["John","Mary","John","Ashish","Abhishek","Ashish"]
unique_names=set(names)
print(unique_names)

{'Ashish', 'Mary', 'John', 'Abhishek'}

In [ ]:
Ques 7. Describe how to add, modify, and delete items in a dictionary with examples

Given below is mentioned how to add, modify and delete items in a dictionary

In [11]:
my_dict={"name":"Ashish","age":23}
my_dict

{'name': 'Ashish', 'age': 23}

In [12]:
#Adding items in Dictionary
my_dict.update({"country":"INDIA","city":"BLR"})
print(my_dict)

{'name': 'Ashish', 'age': 23, 'country': 'INDIA', 'city': 'BLR'}

In [14]:
#Modify Items in Dictionary
my_dict["city"]="New Delhi"
print(my_dict)

{'name': 'Ashish', 'age': 23, 'country': 'INDIA', 'city': 'New Delhi'}

In [15]:
#Delete Items in Dictionary
my_dict.pop("age")
print(my_dict)

{'name': 'Ashish', 'country': 'INDIA', 'city': 'New Delhi'}

In [ ]:
Ques 8.  Discuss the importance of dictionary keys being immutable and provide example

dictionary keys must be immutable, means they can't be changed after creation. This is due to several reasons :-
(a). Hashing :- dictionary keys are hashed for efficiency. Immutable keys ensure consistent hash values for fast and reliable key retrievals.

(b). Uniqueness :- Immutability guarantees unique keys and prevents accidental key duplication.

(c). Predictability :- Immutable keys simplifies debugging and maintenance.

Think of a dictionary key like a locker number:

Once assigned, the locker number must stay the same so you can find your locker later.
If the number could change, you'd lose track of where your stuff is stored. Immutable keys are like fixed locker numbersâ€”reliable and unchanging.
In short, immutable keys ensure dictionaries remain fast, reliable, and error-free!

In [18]:
# Immutable keys (strings, integers, tuples)
my_dic = {
    "name": "Ashish",
    "age": 23,
    (1, 2, 3): "tuple_key"
}

# Mutable keys (lists, dictionaries) are not allowed
# This will raise a TypeError
my_dic = {[1, 2]: "list_key"}

TypeError: unhashable type: 'list'